<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section feeback">
                <p>
                <center> Help us in serving you better</center>
                </p><br>
                <p><a href="feeback.html" class="feedback"> Give Feeback </a></p>

            </div>
            <div class="footer-section links">

                <p>
                <center>{{ footerName|title }}
                    <center></p><br>
                        <!-- <p><a href="signin.html" class="register"> Sign In/Register</a></p> -->
            </div>
            <div class="footer-section contact-form">
                <div class="contact">
                    <span><i class="fa fa-phone"></i> &nbsp; {{ footerNumber }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><i class="fa fa-envelope"></i> &nbsp; {{ footerEmail }}</span>
                </div>
                <br>
                <div class="socials">
                    <a href="#"
                       style="color: white; text-decoration: none;" i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                    <a href=""#" style="color: white; text-decoration: none;" i
                       class="fa fa-instagram"></i></a>&nbsp;&nbsp;
                    <a href="#" style="color: white; text-decoration: none;" i
                       class="fa fa-twitter"></i></a>&nbsp;&nbsp;
                    <a href="#"
                       style="color: white; text-decoration: none;" i class="fa fa-youtube"></i></a>&nbsp;
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            &copy; {{ footerName|title }} | Designed by Aakash Subedi<br>
            {{ footerCopyright }}
        </div>
    </div>


</footer>